set -g default-terminal "xterm-256color"
set-option -g allow-rename off
set -g mouse on

bind r source-file ~/.tmux.conf \; display '~/.tmux.conf loaded'

set -g status-bg '#73911d'
set -g status-fg '#000000'

set-option -g history-limit 4000

bind -n M-Space copy-mode
set -g mode-keys emacs

set -g escape-time 0

